target
.classpath
.project
.DS_Store
src/.DS_Store
src/main/.DS_Store
src/main/java/.DS_Store
.settings
velocity.log
export.xml
.bundle
db/*.sqlite3
log/*.log
*.log
tmp/**/*
tmp/*
doc/api
doc/app
*.swp
*~
*.o
*.exe
*.out